# Godot 4+ specific ignores
.godot/
.nomedia
.import/
export.cfg
export_credentials.cfg
*.tmp
*.translation

# Mono / .NET specific ignores
.mono/
data_*/
mono_crash.*.json
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
build/

